@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OswaldBold';
    src: url('../fonts/OswaldBold/Oswald-Bold.eot'); 
    src: local('Oswald Bold'), local('Oswald-Bold'),
    url('../fonts/OswaldBold/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OswaldBold/Oswald-Bold.woff2') format('woff2'), 
    url('../fonts/OswaldBold/Oswald-Bold.woff') format('woff'),
    url('../fonts/OswaldBold/Oswald-Bold.ttf') format('truetype'),
    url('../fonts/OswaldBold/Oswald-Bold.svg#Oswald') format('svg');
    font-style: normal;
    font-weight: 700;
}