.crossed-out {
	text-decoration: line-through;
}

.clearfix {

	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

.text-uppercase {
	text-transform: uppercase;
}
