@media (max-width: $xs-width) {
	.products-grid {
		.slider-controls {
			.arrow-prev {
				left: 0rem;
			}

			.arrow-next {
				right: 0rem;
			}
		}
	}
}

@media (max-width: $sm-width-min) {
	.hidden-xs {
		display: none !important;
	}
}

@media (min-width: $sm-width-max) and (max-width: $md-width-min) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width: $sm-width-max) {
	.container {
		max-width: $sm-width-max;
		padding-left: rem(35);
		padding-right: rem(40);
		@include box-sizing(border-box);
	}

	.product-block {
		position: relative;
		margin-top: rem(32);
	}

	.header-title {
		padding: 0rem;
	}

	.product-img {
		width: 52%;
		float: left;
		margin-top: rem(23);
	}

	.product-info {
		float: right;
		margin: rem(23) 0rem 0rem;
		width: 45.6%;

		.item-id {
			p {
				font-size: rem(11);
			}
		}

		.product-prices {
			.old-price {
				padding-right: rem(23);
			}
		}

		.block-title {
			text-align: left;
			font-size: rem(14);
			margin-bottom: rem(10);
		}
	}

	.product-description {
		margin-top: rem(18);

		p {
			font-family: 'OpenSansLight', sans-serif;
			font-size: rem(12);
			line-height: rem(16);
		}
	}

	.social-share-container {
		position: absolute;
		left: rem(14);
		top: rem(75);
		margin-top: 0rem;

		ul {
			li {
				margin: 0rem 0rem rem(11);
				display: block;

				&:not(:last-child) {
					margin-right: 0rem;
				}
			}
		}
	}

	.product-size {
		text-align: left;
		margin-top: rem(28);
	}

	.select-size {
		margin-top: rem(13);
		margin-bottom: rem(18);

		ul {

			li {

				&:not(:last-child) {
					margin-right: rem(18);
				}
			}
		}

		label.size {
			text-align: center;
		}
	}

	.add-to-cart-btn {
		padding: rem(12) rem(48);
	}

	.more-products {
		margin-top: rem(56);

		.h2-product-title {
			font-size: rem(22);
			letter-spacing: 0.1rem;
		}
	}

	.products-grid {
		margin-top: rem(33);

		.grid-items {

			li.item {
				max-width: 100%;
				width: 300px;
				height: 284px;
				margin: 0px auto rem(40);
				position: relative;
				line-height: 0px;
				display: inline-block;

				&:nth-child(2n+1) {
					margin-right: rem(35);
				}
			}
		}

		.price {
			font-size: rem(22);
		}
	}
}

@media (min-width: $md-width-max) {
	.hidden-md {
		display: none;
	}

	.container {
		max-width: $md-width-max;
		padding-left: rem(50);
		padding-right: rem(48);
	}

	.header-title {
		float: right;
		width: 45.6%;
		line-height: rem(16);
	}

	.product-img {
		margin-top: 0rem;
	}

	.product-info {
		margin-top: rem(18);

		.product-prices {
			margin-top: rem(18);

			.price {
				font-size: rem(24);
			}
		}

		.product-size {

			.block-title, .select-size {
				display: inline-block;
			}
			.select-size {
				margin-left: rem(14);
				margin-bottom: rem(23);

				ul {
					li:not(:last-child) {
						margin-right: rem(6);
					}
				}
			}
		}
	}

	.stars-rating, .social-share-title {
		margin-top: rem(23);
	}

	.share-block {
		display: inline;
		position: relative;
	}

	.social-share-title {
		cursor: pointer;
		color: $blue;
		font-family: 'OpenSansBold', sans-serif;
		font-size: rem(18);
		line-height: rem(18);
		display: inline-block;
		vertical-align: top;
		padding-left: rem(10);
	}

	.social-share-title-in {
		@extend .social-share-title;
		cursor: default;
		margin: 0rem;
		padding: 0rem;
	}

	.social-share-close-btn {
		@extend .social-share-title;
		float: right;
		margin: 0rem;

		i {
			font-size: rem(20);
		}
	}

	.social-share-container {
		position: absolute;
		top: rem(30);
		left: rem(-94);
		width: 288px;
		background-color: $white;
		@include box-shadow(rem(0), rem(0), rem(5), $gray);
		padding: rem(14) rem(14) rem(21) rem(14);
		@include box-sizing(border-box);

		ul {
			margin-top: rem(13);

			li {
				display: inline-block;
				margin-bottom: 0rem;

				&:not(:last-child) {
					margin-right: rem(8);
				}
			}
		}

		&:before, &:after {
			content: '';
			position: absolute;
			left: 50%;
			background-color: $white;
		}
		&:before {
			width: rem(10);
			height: rem(10);
			top: rem(-5);
			margin-left: rem(-5);
			@include rotate(45deg);
			@include box-shadow(rem(0), rem(0), rem(5), $gray);
		}
		&:after {
			top: rem(0);
			width: rem(30);
			height: rem(15);
			margin-left: rem(-15);
		}
	}

	.product-size {
		margin-top: rem(16);
	}

	.add-to-cart-btn {
		font-size: rem(14);
		padding: rem(14) rem(56);
	}

	.more-products {
		.h2-product-title {
			text-align: left;
		}
	}

	.products-grid {
		margin-top: rem(16);

		.grid-items {

			li.item {
				max-width: 100%;
				width: 265px;
				height: 265px;
				margin-right: rem(16);
				margin-bottom: rem(20);

				&:nth-child(2n+1) {
					margin-right: rem(16);
				}

				&:nth-child(3n+3) {
					margin-right: rem(0);
				}
			}
		}

		.price {
			font-size: rem(16);
			width: auto;
			right: 0rem;
			bottom: rem(22);
			line-height: rem(16);

			span {
				padding: rem(3) rem(2) rem(3) rem(10);
				text-align: right;
				display: inline-block;
			}
		}
	}
}