@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'colors-variables';
@import 'helpers';
@import 'reset';
@import './font-awesome/font-awesome';

html {
	font-size: $basic-font-size + px;
}

body {
	font-family: 'OpenSansRegular', sans-serif;
	background: $light-gray;
	font-size: $basic-font-size + px;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: rem(402);
	margin: 0px auto;
}

.header-title {
	font-family: 'OswaldBold', sans-serif;
	font-size: rem(24);
	line-height: rem(36);
	margin: 0px;
	padding: 0rem rem(85) rem(0) rem(38);
	color: $darkest-gray;
	letter-spacing: 0.03em;
}

.product-block {
	margin-top: rem(25);
}

.product-img {
	margin-top: rem(25);
}

.product-info {
	margin: rem(13) 8%;

	.item-id {
		p {
			font-size: rem(12);
			color: $dark-gray;
			letter-spacing: 0.05rem;
		}
	}

	.product-prices {
		margin-top: rem(10);

		.price {
			font-family: 'OpenSansBold', sans-serif;
			font-size: rem(36);
			display: inline-block;
		}

		.old-price {
			padding-right: rem(14);
		}
	}

	.block-title {
		font-family: 'OpenSansBold', sans-serif;
		font-size: rem(20);
		color: $dark-gray;
		text-align: center;
		letter-spacing: 0.05rem;
		margin: 0rem;
	}
}

.old-price {
	color: $dark-gray;
}

.new-price {
	color: $red;
}

.stars-rating {
	display: inline-block;
	margin-top: rem(10);

	input.star {
		display: none;
	}

	label.star {
		float: right;
		cursor: pointer;
		padding-right: rem(2);
	}

	input.star:checked ~ label.star:before {
		content: url(../img/ico-star-red.png);
	}

	label.star:before {
		content: url(../img/ico-star-default.png);
	}

	input.star:hover ~ label.star:before {
		content: url(../img/ico-star-red.png);
	}
}

.social-share-container {
	margin-top: rem(23);

	ul {

		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: rem(10);
			}

			a {
				padding: rem(8) rem(11);
				border: 2px solid $blue;
				display: block;
				@include border-radius(50%);
			}

			.fa {
				font-size: rem(20);
				color: $blue;
				width: rem(16);
				text-align: center;
			}
		}
	}
}

.product-description {
	margin-top: rem(32);

	p {
		color: $darkest-gray;
		font-size: rem(15);
		line-height: rem(20);
	}
}

.product-size {
	margin-top: rem(37);
	text-align: center;
}

.select-size {
	margin-top: rem(15);
	margin-bottom: rem(30);

	ul {

		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: rem(22);
			}
		}
	}

	input.size {
		display: none;
	}

	label.size {
		cursor: pointer;
		font-family: 'OpenSansBold', sans-serif;
		font-size: rem(11);
		display: inline-block;
		text-transform: uppercase;
		color: $dark-gray;
		width: rem(16);
		padding: rem(12) rem(11);
		background-color: $white;
		border: 1px solid $dark-gray;
		@include border-radius(50%);
	}

	input.size:checked + label.size, label.size:hover {
		background-color: $dark-gray;
		color: $white;
	}
}

.add-to-cart-btn {
	font-family: 'OpenSansBold', sans-serif;
	letter-spacing: 0.05rem;
	font-size: rem(18);
	color: $dark-gray;
	background-color: $turquoise;
	padding: rem(18) rem(75);
	@include border-radius(50px);
}

.more-products {
	font-family: 'OpenSansBold', sans-serif;
	margin-top: rem(69);

	.h2-product-title {
		text-align: center;
		font-size: rem(24);
		color: $dark-gray;
		letter-spacing: 0.07rem;
		margin: 0rem;
	}
}

.products-grid {
	position: relative;
	margin-top: rem(20);
	overflow: hidden;

	.grid-items {

		li.item {
			max-width: 80%;
			width: 280px;
			height: auto;
			margin: 0px auto rem(40);
			position: relative;
			line-height: 0px;
			@include transition(all 0.4s ease-in);

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.price {
		font-size: rem(18);
		line-height: rem(18);
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: $turquoise;
		@include opacity(0.9);

		span {
			display: block;
			text-align: center;
			padding: rem(7) rem(0);
		}
	}

	.slider-controls {
		.arrow {
			position: absolute;
			top: 50%;
			display: block;
			width: 29px;
			height: 50px;
			margin-top: -25px;
			cursor: pointer;
		}

		.arrow-prev {
			left: rem(16);
		}

		.arrow-next {
			right: rem(16);
		}
	}

}

.slide-prev {
	@include translate(120%, 0);
}

.slide-next {
	@include translate(-120%, 0);
}

@import 'media';