.container {
    max-width: 835px;
}

.social-share-container {
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=0),
            progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=90),
            progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180),
            progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=270);
    left: -100px;
    top: 20px;
}

.products-grid .grid-items li.nth-child-3np1 {
    margin-right: 0px;
}

.select-size input.size {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: block!important;
    outline: none;
}

.select-size label.checked, .select-size label.size:hover {
    background-color: #2c303d;
    color: #fff;
}

.stars-rating input.star {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    outline: none;
}

input.star.checked ~ label.star:before {
    content: url(../img/ico-star-red.png);
}